<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 异常处理器 -->
    <!--<bean class="com.kingdee.hrp.sms.common.exception.SmsHandlerExceptionResolver"/>-->
    <!--app 网关 -->
    <!--<bean id="apiHandler" class="com.yadda.api.core.ApiHandler">
        <property name="tokenService" ref="defaultTokenServiceImpl"/>
        <property name="tokenHandler" ref="defaultTokenServiceImpl"/>
    </bean>-->

    <bean id="customerObjectMapper" class="com.kingdee.hrp.sms.common.CustomerObjectMapper">
        <property name="dateFormat">
            <!--对日期进行转化的-->
            <bean class="java.text.SimpleDateFormat">
                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
            </bean>
        </property>
    </bean>

    <bean id="mappingJackson2HttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="objectMapper" ref="customerObjectMapper"/>
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    
    <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
        <constructor-arg index="0" value="utf-8"/>
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
                <value>text/plain;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- set the max upload size10MB -->
        <property name="maxUploadSize" value="10485760"/>
        <!-- 设置在文件上传时允许写到内存中的最大值，以字节为单位计算，默认是10240 -->
        <!-- 但是经实验，上传文件大小若小于此参数，则不会生成临时文件 -->
        <property name="maxInMemorySize" value="4096"/>
    </bean>
</beans>


