/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
    font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial, sans-serif !important;
    line-height: 1.5;
    font-size: 16px;
    color: #848484;
    background-color: #f0f0f0;
    background: #ffffff url(../img/geometry2.png) repeat;
}

a {
    color: #33cccc;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    color: #29a3a3;
}

.menu {
    padding: 0;
    margin: 30px 0 0 0;
}

.menu li {
    list-style: none;
    margin-bottom: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.menu li a {
    padding: 5px;
}

.menu li.active a {
    color: #b3b3b3;
}

.login-box {
    padding: 30px;
    padding-bottom: 50px;
    margin-top: 3em;
    -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

@media screen and (max-width: 768px) {
    .login-box {
        padding: 15px;
    }
}

.login-box h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0 0 30px 0;
    color: #000000;
}

.login-box .form-group {
    margin-bottom: 30px;
}

.login-box .form-group p {
    font-size: 14px;
    color: #9f9f9f;
    font-weight: 300;
}

.login-box .form-group p a {
    color: #000000;
}

.login-box label {
    font-weight: 300;
    font-size: 14px;
    font-weight: 300;
}

.login-box .form-control {
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.login-box .form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.login-box .form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.login-box .form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.login-box .form-control:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.login-box .form-control:focus, .login-box .form-control:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.btn-primary {
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    background: #33cccc;
    color: #ffffff;
    -webkit-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
    -moz-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
    -o-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
    box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #ffffff;
    background: #47d1d1 !important;
    outline: none;
}

input, textarea {
    color: #000;
    box-shadow: none !important;
}

.placeholder {
    color: #aaa;
}

.js .animate-box {
    opacity: 0;
}

.login-box .hidden {
    display: none;
}

.login-box .disabled {
    background: #b2bccc;
    cursor: not-allowed;
}

.login-box .warm-box {
    color: red;
    text-align: left;

}

.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
}

.container .modal {
    z-index: 1 !important;
}

.tab-content > .tab-pane {
    visibility: unset !important;
    /*    margin-top: 30px;
        margin-bottom: 30px;*/
}

.step-container {
    height: 300px;
    width: auto;
}

.step-container .step-content-container {
    margin: 10px;
}

.error-msg {
    color: #ea542a;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.footer .container {
    height: 60px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
