@charset "utf-8";
/**
* @author Ricky
* @version 1.0
* @date 2015-6-22
*/

/*!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *       2、设置通用原子类
 */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color: black;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

body {
    color: #222;
    /* font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑","黑体",Arial,sans-serif;
    font-size: 14px; */
    line-height: 1.6;
    width: 100%;
    /*height:100%;*/
    position: absolute;
    /*overflow:hidden;*/
}

/* 要注意表单元素并不继承父级 font 的问题 */
/*body,button,input,select,textarea {
    font:12px \5b8b\4f53,arial,sans-serif;
}*/
input, select, textarea {
    font-size: 100%;
}

::-ms-clear,
::-ms-reveal {
    display: none;
}

/* 去掉 table cell 的边距并让其边重合 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ie bug：th 不继承 text-align */
th {
    text-align: inherit;
}

/* 去除默认边框 */
/*fieldset,img {
    border:none;
}*/
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display: block;
    border: none;
}

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
    border: none;
    font-variant: normal;
}

/* 一致的 del 样式 */
del {
    text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500;
}

/* 去掉列表前的标识，li 会继承 */
ol, ul {
    list-style: none;
}

/* 对齐是排版最重要的因素，别让什么都居中 */
caption, th {
    text-align: left;
}

/* 来自yahoo，让标题都自定义，适应多个系统应用 */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500;
}

q:before, q:after {
    content: '';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* 让链接在 hover 状态下显示下划线 */
a:hover {
    text-decoration: none;
}

/* 默认不显示下划线，保持页面简洁 */
ins, a {
    text-decoration: none;
    color: #666;
}

/* 去除 ie6 & ie7 焦点点状线 */
a:focus, *:focus {
    outline: none;
}

/* 清除浮动 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1; /* for ie6 & ie7 */
}
.clear-both {
   clear: both;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

/* 设置显示和隐藏，通常用来与 js 配合 */
.hide {
    display: none !important;
}

.block {
    display: block !important;
}

/* 设置浮动，减少浮动带来的 bug */
.fl, .fr {
    display: inline;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tc {
    text-align: center;
}

.tcl {
    text-align: left !important;
}

.tcr {
    text-align: right !important;
}

.w50 {
    width: 50% !important;
}

.w100 {
    width: 100% !important;
}

/*设置定位*/
.pa {
    position: absolute;
}

.pr {
    position: relative;
}

/*设置间距*/
.m0 {
    margin: 0 !important;
}

.m5 {
    margin: 5px !important;
}

.m10 {
    margin: 10px !important;
}

.m20 {
    margin: 20px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt40b {
    margin-top: 40% !important;
}

.ml1 {
    margin-left: 1px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 15px;
}

.ml25 {
    margin-left: 15px;
}

.ml50 {
    margin-left: 50px !important;
}

.ml80 {
    margin-left: 80px !important;
}

.ml100 {
    margin-left: 100px !important;
}

.ml155 {
    margin-left: 155px !important;
}

.mr1 {
    margin-right: 1px;
}

.mr2_5 {
    margin-right: 2.5px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mt10b {
    margin-top: 10% !important;
}

.mr20b {
    margin-right: 20% !important;
}

.mr30b {
    margin-right: 30% !important;
}

.mr40b {
    margin-right: 40% !important;
}

.mr50b {
    margin-right: 50% !important;
}

.mr60b {
    margin-right: 60% !important;
}

.mr80b {
    margin-right: 80% !important;
}

.p0 {
    padding: 0 !important;
}

.p5 {
    padding: 5px !important;
}

.p10 {
    padding: 10px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt85 {
    padding-top: 85px !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl70 {
    padding-left: 70px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}
.b1{
    border: 1px;
}
.bt1{
    border-top: 1px;
}
.bb1{
    border-top: 1px;
}
.bl1{
    border-top: 1px;
}
.aW {
    width: auto;
}

.fH {
    height: 34px;
}

.dline {
    display: inline-block;
    *display: inline;
    _zoom: 1;
}

/*color*/
.surperColor {
    color: #A9A9A9;
}

.surperColor option {
    color: #181818
}

.col_green {
    color: green
}

.col_red {
    color: red
}

.col_blue {
    color: blue;
}

.col_C7C7D4 {
    color: #C7C7D4;
}

.col_04be02 {
    color: #04be02;
}

/*font-size*/

/*bgcolor*/
.bg_col_04be02 {
    background-color: #04be02;
}

.bb_spnErrorMsg {
    display: block;
    height: 20px;
    text-align: center;
}

.divNodata {
    text-align: center;
    color: red;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

.pointer {
    cursor: pointer
}