body {
  margin: 0;
  padding: 0;
  background-color: #1d405a;
  /*background: #8aa0b0 url('img/sign_in_bg_2.png') no-repeat top;*/
}
.left {
  /*float: left;*/
}
.right {
  /*float: right;*/
}
.clear {
  display: block;
  clear: both;
  content: "";
}
.login-box {
  font-family: Microsoft YaHei, simhei ;
  font-size: 16px;
}
.login-box .title {
  font-size: 48px;
  margin-top: 88px;
  height: 82px;
  line-height: 80px;
  text-align: center;
  /*background: url('img/logo.png') no-repeat center;*/
}
.login-box .content {
  margin-top: 15px;
}
.login-box .content:after {
  display: block;
  clear: both;
  content: "";
}
.login-box .content .login-panel {
  margin: 0px auto;
  width: 300px;
  border: 0;
  color: #637994;
  border-radius: 4px;
  vertical-align: middle;
  position: relative;
  background: #fff;
}
.login-box .content .login-panel img {
  border: none;
}
.login-box .content .login-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
}
.login-box .content .login-panel ul li {
  height: 41px;
}
.login-box .content .login-panel .warm-box {
  text-align: center;
  background: #fcf1ee;
  border: 1px solid #f2b1a2;
  /*padding: 8px 16px;*/
  z-index: 2;
  height: 41px;
  line-height: 41px;
}
.login-box .content .login-panel .warm-box span {
  color: red;
  padding-right: 10px;
}
.login-box .content .login-panel .hidden {
  display: none;
}
.login-box .content .login-panel .tabs:after {
  display: block;
  clear: both;
  content: "";
}
.login-box .content .login-panel .select-tab {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: #36586e;
  /*background:#3f3541;*/
  /*opacity:0.8;
                filter:alpha(opacity=80);*/
  color: #fff;
  font-size: 18px;
}
.login-box .content .login-panel .left.select-tab {
  border-top-left-radius: 0px;
}
.login-box .content .login-panel .right.select-tab {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.login-box .content .login-panel .hover {
  background: #ffffff;
  color: #292929;
}
.login-box .content .login-panel .hover .tab {
  color: #292929;
  margin: -1px 20px 0;
  border-bottom: 1px solid #d0d5da;
  position: relative;
}
.login-box .content .login-panel .hover .tab:after {
  position: absolute;
  display: block;
  border-style: solid;
  border-color: transparent transparent #d0d5da transparent;
  z-index: 2;
  border-width: 6px 10px;
  left: 43%;
  top: 28px;
  content: "";
  height: 0;
  width: 0px;
}
.login-box .content .login-panel .hover .selected-back {
  position: absolute;
  left: 43%;
  top: 29px;
  height: 0;
  width: 0px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
  z-index: 3;
  border-width: 6px 10px;
}
.login-box .content .login-panel .user-label {
  margin: 1px 20px 0;
  padding-right: 2px;
}
.login-box .content .login-panel .user-label input {
  width: 226px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #d3dcea;
  border-top: 0;
  padding: 12px 16px;
  margin: 0;
  font-size: 14px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.login-box .content .login-panel .first {
  margin-top: 30px!important;
}
.login-box .content .login-panel .first input {
  border-top: 1px solid #d3dcea;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login-box .content .login-panel .get-pas {
  /*margin: 16px 20px 0;*/
  font-size: 12px;
  height: 41px;
  border-radius: 0px;
  background-color: white
}
.login-box .content .login-panel .get-pas > a {
  color: #a0a9ae;
  text-decoration: underline;
  line-height: 40px;
  float: right;
  padding-right: 25px;
}
.login-box .content .login-panel .login-bt {
  margin: 20px 20px 0;
  line-height: 42px;
  /*  background: #5ac3c8;*/
  background: #009bd9;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
}
.login-box .content .login-panel .disabled {
  background: #b2bccc;
  cursor: not-allowed;
}
.login-box .content .login-panel .login-link {
  margin-top: 18px;
  height: 48px;
  line-height: 48px;
  background: #dceaef;
  color: #a0a9ae;
  font-size: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.login-box .content .login-panel .login-link a {
  margin-left: 20px;
  text-decoration: none;
  color: #a0a9ae;
}
.login-box .content .login-panel .login-link a .link-icon {
  vertical-align: middle;
}
.login-box .content .login-panel .login-link a:hover {
  color: #5ac3ca;
}
.footer {
  background: rgba(31, 34, 36, 0.95);
  height: 70px;
  line-height: 70px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer ul {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  display: inline-block;
  padding: 0;
}
.footer ul li {
  display: block;
  float: left;
  padding-right: 20px;
  height: 68px;
  line-height: 68px;
}
.footer ul li a,
.footer ul li span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
.footer ul li a:hover {
  color: #5ac3ca;
}
.footer ul li:before {
  content: "|";
  margin-right: 20px;
}
.footer ul li:first-child:before {
  content: "";
}
.footer ul:after {
  display: block;
  clear: both;
  content: "";
}
