.head-content .item-image {
    max-height: 100%;
    max-width: 100%;
}

.head-content .btn {
    margin-top: 2px;
}

.head-content.img {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.progressComplete {
    display: none;
}