<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.eas.hrp.sms.dao.customize.OrderDaoMapper">

	<!-- 发货单追踪查询 -->
	<select id="selectSendcargo" parameterType="String" resultType="map">
		SELECT
		distinct
		t_sms_sendcargo.[id] AS [id],
		t_sms_sendcargo.[number] AS
		[number],
		t_sms_sendcargo.[logistics] AS [logistics],
		t_sms_sendcargo.[logisticsNo] AS [logisticsNo],
		CONVERT(nvarchar(10),t_sms_sendcargo.[Date],102)
		AS [date],
		t_sms_sendcargo_entry.[id] AS [entryId],
		t_sms_sendcargo_entry.[parent] AS [parent],
		t_sms_item.[name] AS
		[material_DspName],
		t_sms_item.[number] AS [material_NmbName],
		t_sms_unit.[name] AS [unit_DspName],
		t_sms_unit.[number] AS
		[unit_NmbName],
		t_sms_sendcargo_entry.[orderSeq] AS [orderSeq],
		t_sms_item.[specification] AS [specification],
		t_sms_sendcargo.[supplier] AS [supplier],
		t_sms_supplier.[name] AS
		[supplier_DspName],
		t_sms_supplier.[number] AS [supplier_NmbName],
		t_sms_sendcargo_entry.[actualQty] AS [actualQty],
		t_sms_purchase_order.[number] AS [orderNumber],
		t_sms_purchase_order.[id] AS [orderId],
		t_sms_purchase_order.[bizDate]
		AS bizDate,
		t_sms_purchase_order_entry.[qty] AS [qty],
		t_sms_sendcargo_entry.[seq] AS [sendSeq]
		FROM
		t_sms_sendcargo
		INNER JOIN
		t_sms_sendcargo_entry ON
		t_sms_sendcargo_entry.[parent] =
		t_sms_sendcargo.[id]
		INNER JOIN
		t_sms_sale_proxy ON
		t_sms_sendcargo.[saleProxy] =
		t_sms_sale_proxy.[id]
		INNER JOIN
		t_sms_supplier ON
		t_sms_sendcargo.[supplier] =
		t_sms_supplier.[id]
		INNER
		JOIN t_sms_item
		ON t_sms_sendcargo_entry.[material] = t_sms_item.[id]
		INNER JOIN
		t_sms_unit ON t_sms_sendcargo_entry.[unit] =
		t_sms_unit.[id]
		LEFT JOIN
		t_sms_purchase_order ON t_sms_sendcargo_entry.[orderId] =
		t_sms_purchase_order.[id]
		LEFT JOIN t_sms_purchase_order_entry ON
		t_sms_sendcargo_entry.[orderId] =
		t_sms_purchase_order_entry.[parent]
		AND t_sms_sendcargo_entry.[orderSeq] =
		t_sms_purchase_order_entry.[seq]
		WHERE
		1=1
		<if test="orderId!=null">
			AND orderId = #{orderId}
		</if>
		<if test="startTime!=null">
			AND bizDate&gt;=#{startTime}
		</if>
		<if test="endTime!=null">
			AND bizDate&lt;=#{endTime}
		</if>
		<if test="number!=null">
			AND t_sms_supplier.[number] = #{number}
		</if>
		<if test="supplierId!=null">
			AND t_sms_supplier.[id] = #{supplierId}
		</if>
	</select>

	<!-- 收货单追踪查询 -->
	<select id="selectPurReceival" parameterType="String"
		resultType="map">
		SELECT
		distinct
		t_sms_purreceival.[id] AS [id],
		t_sms_purreceival.[number] AS
		[number],
		CONVERT(nvarchar(10),t_sms_purreceival.[bizDate],102) AS [bizDate],
		t_sms_item.[name] AS
		[material_DspName],
		t_sms_item.[number] AS
		[material_NmbName],
		t_sms_item.[specification] AS [specification],
		t_sms_unit.[name] AS
		[unit_DspName],
		t_sms_unit.[number] AS
		[unit_NmbName],
		t_sms_purreceival_entry.[actualQty] AS [actualQty],
		t_sms_purreceival_entry.[orderSeq] AS [orderSeq],
		t_sms_purreceival_entry.[seq] AS [seq],
		t_sms_purchase_order.[number]
		AS [orderNumber]
		FROM
		t_sms_purreceival
		INNER JOIN
		t_sms_purreceival_entry ON
		t_sms_purreceival_entry.[parent] =
		t_sms_purreceival.[id]
		INNER JOIN
		t_sms_supplier ON
		t_sms_purreceival.[supplier] =
		t_sms_supplier.[id]
		LEFT JOIN
		t_sms_base_status ON t_sms_purreceival.[baseStatus] =
		t_sms_base_status.[id]
		LEFT JOIN t_sms_purchase_order ON
		t_sms_purreceival_entry.[orderId] =
		t_sms_purchase_order.[id]
		INNER JOIN
		t_sms_item ON t_sms_purreceival_entry.[material] =
		t_sms_item.[id]
		INNER JOIN t_sms_unit ON t_sms_purreceival_entry.[unit] =
		t_sms_unit.[id]
		LEFT JOIN t_sms_purchase_order_entry ON
		t_sms_purreceival_entry.[orderId] =
		t_sms_purchase_order_entry.[parent]
		AND
		t_sms_purreceival_entry.[orderSeq] = t_sms_purchase_order_entry.[seq]
		WHERE
		1 = 1
		<if test="orderId!=null">
			AND orderId = #{orderId}
		</if>
		<if test="startTime!=null">
			AND t_sms_purchase_order.[bizDate]&gt;=#{startTime}
		</if>
		<if test="endTime!=null">
			AND t_sms_purchase_order.[bizDate]&lt;=#{endTime}
		</if>
		<if test="number!=null">
			AND t_sms_supplier.[number] = #{number}
		</if>
		<if test="supplierId!=null">
			AND t_sms_supplier.[id] = #{supplierId}
		</if>
	</select>

	<!-- 入库单追踪查询 -->
	<select id="selectPurInwarehs" parameterType="String"
		resultType="map">
		SELECT
		distinct
		t_sms_purinwarehs_entry.[orderSeq] AS [orderSeq],
		t_sms_purinwarehs.[number] AS [number],
		CONVERT(nvarchar(10),t_sms_purinwarehs.[bizDate],102) AS
		[bizDate],
		t_sms_item.[name] AS [material_DspName],
		t_sms_item.[number]
		AS
		[material_NmbName],
		t_sms_item.[specification] AS [specification],
		t_sms_unit.[name] AS [unit_DspName],
		t_sms_purinwarehs_entry.[actualQty] AS [actualQty],
		t_sms_purinwarehs_entry.[seq] AS [seq],
		t_sms_purchase_order.[number]
		AS [orderNumber]
		FROM
		t_sms_purinwarehs
		INNER JOIN
		t_sms_purinwarehs_entry ON
		t_sms_purinwarehs_entry.[parent]
		=
		t_sms_purinwarehs.[id]
		INNER JOIN
		t_sms_supplier ON
		t_sms_purinwarehs.[supplier] =
		t_sms_supplier.[id]
		LEFT JOIN
		t_sms_base_status ON t_sms_purinwarehs.[baseStatus] =
		t_sms_base_status.[id]
		INNER JOIN t_sms_item ON
		t_sms_purinwarehs_entry.[material] =
		t_sms_item.[id]
		INNER JOIN
		t_sms_unit ON t_sms_purinwarehs_entry.[unit] = t_sms_unit.[id]
		LEFT
		JOIN t_sms_purchase_order ON t_sms_purinwarehs_entry.[orderId] =
		t_sms_purchase_order.[id]
		LEFT JOIN t_sms_purchase_order_entry ON
		t_sms_purinwarehs_entry.[orderId] =
		t_sms_purchase_order_entry.[parent]
		AND
		t_sms_purinwarehs_entry.[orderSeq] = t_sms_purchase_order_entry.[seq]
		WHERE
		1 = 1
		<if test="orderId!=null">
			AND orderId = #{orderId}
		</if>
		<if test="startTime!=null">
			AND t_sms_purchase_order.[bizDate]&gt;=#{startTime}
		</if>
		<if test="endTime!=null">
			AND t_sms_purchase_order.[bizDate]&lt;=#{endTime}
		</if>
		<if test="number!=null">
			AND t_sms_supplier.[number] = #{number}
		</if>
		<if test="supplierId!=null">
			AND t_sms_supplier.[id] = #{supplierId}
		</if>
	</select>

	<!-- 退货追踪查询 -->
	<select id="selectPurReturns" parameterType="String" resultType="map">
		SELECT
		distinct
		t_sms_purreturns_entry.[orderSeq] AS [orderSeq],
		t_sms_purreturns.[number] AS [number],
		CONVERT(nvarchar(10),t_sms_purreturns.[bizDate],102) AS[bizDate],
		t_sms_item.[name] AS [material_DspName],
		t_sms_item.[number]AS
		[material_NmbName],
		t_sms_item.[specification] AS [specification],
		t_sms_unit.[name] AS [unit_DspName],
		t_sms_purreturns_entry.[returnQty] AS [returnQty],
		t_sms_purchase_order_entry.[qty] AS [qty],
		t_sms_purchase_order.[number] AS [orderNumber]
		FROM
		t_sms_purreturns
		INNER
		JOIN t_sms_purreturns_entry ON t_sms_purreturns_entry.[parent] =
		t_sms_purreturns.[id]
		INNER JOIN t_sms_supplier ON
		t_sms_purreturns.[supplier] =
		t_sms_supplier.[id]
		LEFT JOIN
		t_sms_base_status ON t_sms_purreturns.[baseStatus] =
		t_sms_base_status.[id]
		LEFT JOIN t_sms_purchase_order ON
		t_sms_purreturns_entry.[orderId] =
		t_sms_purchase_order.[id]
		INNER JOIN
		t_sms_item ON t_sms_purreturns_entry.[material] =
		t_sms_item.[id]
		INNER
		JOIN t_sms_unit ON t_sms_purreturns_entry.[unit] = t_sms_unit.[id]
		LEFT JOIN t_sms_purchase_order_entry ON
		t_sms_purreturns_entry.[orderId] = t_sms_purchase_order_entry.[parent]
		AND t_sms_purreturns_entry.[orderSeq] =
		t_sms_purchase_order_entry.[seq]
		WHERE
		1 = 1
		<if test="orderId!=null">
			AND orderId = #{orderId}
		</if>
		<if test="startTime!=null">
			AND t_sms_purchase_order.[bizDate]&gt;=#{startTime}
		</if>
		<if test="endTime!=null">
			AND t_sms_purchase_order.[bizDate]&lt;=#{endTime}
		</if>
		<if test="number!=null">
			AND t_sms_supplier.[number] = #{number}
		</if>
		<if test="supplierId!=null">
			AND t_sms_supplier.[id] = #{supplierId}
		</if>
	</select>

</mapper>