<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.eas.hrp.sms.dao.customize.RoleDaoMapper">

	<!-- 获取角色类别所有可用的权限 -->
	<select id="getRoleTypePermissions" parameterType="int" resultType="Map">

		SELECT
		t1.topClassId,
		t2.subSysId,
		t1.topClassName,
		t2.[name] AS subSysName,
		t4.objectType,
		t4.objectId,
		t4.[name] AS
		permissionName,
		t4.accessMask,
		t4.accessUse,
		t4.[index] AS accessIndex
		FROM
		t_sms_DataFlowTopClass t1
		LEFT JOIN
		t_sms_DataFlowSubClass t2 ON
		t1.topClassId = t2.topClassId
		INNER
		JOIN t_sms_ObjectType t3 ON
		t2.topClassId = t3.topClassId
		AND
		t2.subSysId = t3.subSysId
		LEFT
		JOIN
		t_sms_ObjectAccessType t4 ON t3.objectType = t4.objectType
		AND
		t3.objectId =
		t4.objectId
		WHERE
<!-- 		(t2.visible = 1 OR t2.visible = 2) -->
<!-- 		AND  -->
		t4.accessMask IS NOT NULL
		<if test="_parameter !=null">
			AND t2.ownerType &amp; #{type} = #{type}
			AND t4.ownerType &amp; #{type} = #{type}
		</if>
		ORDER BY
		t1.[index],
		t2.[index],
		t4.[index];

	</select>
</mapper>