<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.kingdee.eas.hrp.sms.dao.customize.PurchaseOrderEntryDaoMapper">


	<!--查询时根据物料groupby，统计条件下有多少物料-->
	<select id="selectOrderGroupById" parameterType="map" resultType="map">
		SELECT
		t.material
		FROM
		t_sms_purchase_order i
		INNER JOIN
		t_sms_purchase_order_entry t
		ON t.parent = i.id
		WHERE
		1=1
		<if test="supplier !=null and supplier!='' ">
			and i.supplier = #{supplier}
		</if>
		<if test="orderStartDate!=null and orderStartDate!='' ">
		and i.tickDate &gt;= #{orderStartDate}
		</if>
		<if test="orderEndDate!=null and orderEndDate!='' ">
		and i.tickDate &lt;= #{orderEndDate}
		</if>
		<if test="material!=null and material!='' ">
		and t.material &lt;= #{material}
		</if>
		group by t.material
	</select>
	
	<!--查询-->
	<select id="selectOrderStatistics" parameterType="map" resultType="map">
		SELECT
		t.id,
		t.qty,
		t.parent,
		t.material,
		t.invoiceQty,
		w.actualQty,
		r.returnQty,
		t.unit,
		i.tickDate
		FROM
		t_sms_purchase_order i
		INNER JOIN
		t_sms_purchase_order_entry t
		ON t.parent = i.id
		LEFT JOIN
		t_sms_purinwarehs_entry w
		on t.parent = w.orderId and t.material = w.material
		LEFT JOIN
		t_sms_purreturns_entry r
		on t.parent = r.orderId and t.material = r.material
		WHERE
		1=1
		<if test="supplier !=null and supplier!='' ">
			and i.supplier = #{supplier}
		</if>
		<if test="orderStartDate!=null and orderStartDate!='' ">
		and i.tickDate &gt;= #{orderStartDate}
		</if>
		<if test="orderEndDate!=null and orderEndDate!='' ">
		and i.tickDate &lt;= #{orderEndDate}
		</if>
		<if test="material!=null and material!='' ">
		and t.material &lt;= #{material}
		</if>
	</select>

</mapper>