<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.hrp.sms.common.dao.customize.TemplateDaoMapper">

    <!-- 根据模板查询数据 -->
    <select id="getItems" parameterType="map" resultType="map">
		${sql}
	</select>
    <!-- 增加资料 -->
    <insert id="add" parameterType="HashMap">
		${sql}
	</insert>

    <!-- 修改资料 -->
    <update id="edit" parameterType="HashMap">
		${sql}
	</update>

    <!--删除资料 -->
    <delete id="del" parameterType="HashMap">
		delete from ${tableName} where ${primaryKey} in (${items})
	</delete>

    <!--审核资料 -->
    <update id="check" parameterType="HashMap">
		update ${tableName} set review=1 where ${primaryKey} in ( ${items})
	</update>
    <!--反审核资料 -->
    <update id="unCheck" parameterType="HashMap">
		update ${tableName} set review=0 where ${primaryKey} in ( ${items})
	</update>
    <!-- 禁用/反禁用-->
    <update id="forbid" parameterType="HashMap">
		update ${tableName} set status= #{operateType} where ${primaryKey} in ( ${items})
    </update>

    <!--反审核资料时，修改同步状态 -->
    <delete id="unsyncStatus" parameterType="HashMap">
		update ${tableName} set syncStatus=0 where ${primaryKey} in ( ${items}
		)
	</delete>
</mapper>