
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.form-group {
    margin-bottom: 10px;
}

.iconfont {
    font-size: 14px !important;
}

.row > label {
    text-align: right;
    padding-top: 7px;
}

.input-group[class*="col-"] {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.form-control-feedback {
    right: 15px !important;
    pointer-events: auto !important;
}

.form-group input[type='checkbox'] {
    position: absolute;
    width: 16px;
    height: 16px;
}

.operating .iconfont {
    font-size: 10px !important;
    cursor: pointer;
    overflow: hidden;
    padding: 2px;
}
