
.head-content {
    margin-top: 30px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.form-group {
    margin-bottom: 10px;
}

.iconfont {
    font-size: 14px !important;
}

.row > label {
    text-align: right;
    padding-top: 7px;
}

.input-group[class*="col-"] {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.form-control-feedback {
    right: 15px !important;
    pointer-events: auto !important;
}

.form-group input[type='checkbox'] {
    position: absolute;
    width: 16px;
    height: 16px;
}

/*
 表体样式  -------------------------------begin------------------------------
*/
.dn {
    display: none;
}

.body-content {
    margin-top: 20px;
}

/*
    jqgrid 样式覆盖 --begin----------------------------
 */
.operating .iconfont {
    font-size: 10px !important;
    cursor: pointer;
    overflow: hidden;
    padding: 2px;
}

/*单元格内的文本自动换行*/
.ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
    height: auto;
    /*vertical-align:text-top;*/
    vertical-align: middle;
    padding-top: 2px;
}

.table-bordered > thead > tr > th {
    border-bottom-width: 1px !important;
    height: 30px !important;
    background-color: #d2efef;
    vertical-align: middle;
}

.ui-jqgrid tr.jqgrow td {
    height: 37px !important;
}

.customelement {
    width: 100%;
    position: relative;
}

.customelement .form-control-feedback {
    right: 0px !important;
}

/*
    jqgrid 样式覆盖 --end------------------------------
 */

/*
 表体样式  -------------------------------end------------------------------
*/