<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.eas.hrp.sms.dao.generate.FormEntriesMapper">
  <resultMap id="BaseResultMap" type="com.kingdee.eas.hrp.sms.model.FormEntries">
    <id column="classId" jdbcType="INTEGER" property="classId" />
    <id column="entryIndex" jdbcType="INTEGER" property="entryIndex" />
    <result column="tableName" jdbcType="VARCHAR" property="tableName" />
    <result column="foreignKey" jdbcType="VARCHAR" property="foreignKey" />
    <result column="primaryKey" jdbcType="VARCHAR" property="primaryKey" />
    <result column="bosType" jdbcType="VARCHAR" property="bosType" />
    <result column="joinType" jdbcType="VARCHAR" property="joinType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    classId, entryIndex, tableName, foreignKey, primaryKey, bosType, joinType
  </sql>
  <select id="selectByExample" parameterType="com.kingdee.eas.hrp.sms.model.FormEntriesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sms_formEntries
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.kingdee.eas.hrp.sms.model.FormEntriesKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sms_formEntries
    where classId = #{classId,jdbcType=INTEGER}
      and entryIndex = #{entryIndex,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kingdee.eas.hrp.sms.model.FormEntriesKey">
    delete from t_sms_formEntries
    where classId = #{classId,jdbcType=INTEGER}
      and entryIndex = #{entryIndex,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kingdee.eas.hrp.sms.model.FormEntriesExample">
    delete from t_sms_formEntries
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kingdee.eas.hrp.sms.model.FormEntries">
    insert into t_sms_formEntries (classId, entryIndex, tableName, 
      foreignKey, primaryKey, bosType, 
      joinType)
    values (#{classId,jdbcType=INTEGER}, #{entryIndex,jdbcType=INTEGER}, #{tableName,jdbcType=VARCHAR}, 
      #{foreignKey,jdbcType=VARCHAR}, #{primaryKey,jdbcType=VARCHAR}, #{bosType,jdbcType=VARCHAR}, 
      #{joinType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kingdee.eas.hrp.sms.model.FormEntries">
    insert into t_sms_formEntries
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        classId,
      </if>
      <if test="entryIndex != null">
        entryIndex,
      </if>
      <if test="tableName != null">
        tableName,
      </if>
      <if test="foreignKey != null">
        foreignKey,
      </if>
      <if test="primaryKey != null">
        primaryKey,
      </if>
      <if test="bosType != null">
        bosType,
      </if>
      <if test="joinType != null">
        joinType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="entryIndex != null">
        #{entryIndex,jdbcType=INTEGER},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="foreignKey != null">
        #{foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null">
        #{primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="bosType != null">
        #{bosType,jdbcType=VARCHAR},
      </if>
      <if test="joinType != null">
        #{joinType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kingdee.eas.hrp.sms.model.FormEntriesExample" resultType="java.lang.Long">
    select count(*) from t_sms_formEntries
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sms_formEntries
    <set>
      <if test="record.classId != null">
        classId = #{record.classId,jdbcType=INTEGER},
      </if>
      <if test="record.entryIndex != null">
        entryIndex = #{record.entryIndex,jdbcType=INTEGER},
      </if>
      <if test="record.tableName != null">
        tableName = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.foreignKey != null">
        foreignKey = #{record.foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="record.primaryKey != null">
        primaryKey = #{record.primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="record.bosType != null">
        bosType = #{record.bosType,jdbcType=VARCHAR},
      </if>
      <if test="record.joinType != null">
        joinType = #{record.joinType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sms_formEntries
    set classId = #{record.classId,jdbcType=INTEGER},
      entryIndex = #{record.entryIndex,jdbcType=INTEGER},
      tableName = #{record.tableName,jdbcType=VARCHAR},
      foreignKey = #{record.foreignKey,jdbcType=VARCHAR},
      primaryKey = #{record.primaryKey,jdbcType=VARCHAR},
      bosType = #{record.bosType,jdbcType=VARCHAR},
      joinType = #{record.joinType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingdee.eas.hrp.sms.model.FormEntries">
    update t_sms_formEntries
    <set>
      <if test="tableName != null">
        tableName = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="foreignKey != null">
        foreignKey = #{foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null">
        primaryKey = #{primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="bosType != null">
        bosType = #{bosType,jdbcType=VARCHAR},
      </if>
      <if test="joinType != null">
        joinType = #{joinType,jdbcType=VARCHAR},
      </if>
    </set>
    where classId = #{classId,jdbcType=INTEGER}
      and entryIndex = #{entryIndex,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingdee.eas.hrp.sms.model.FormEntries">
    update t_sms_formEntries
    set tableName = #{tableName,jdbcType=VARCHAR},
      foreignKey = #{foreignKey,jdbcType=VARCHAR},
      primaryKey = #{primaryKey,jdbcType=VARCHAR},
      bosType = #{bosType,jdbcType=VARCHAR},
      joinType = #{joinType,jdbcType=VARCHAR}
    where classId = #{classId,jdbcType=INTEGER}
      and entryIndex = #{entryIndex,jdbcType=INTEGER}
  </update>
</mapper>