<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.hrp.sms.common.dao.generate.FormClassEntryMapper">
  <resultMap id="BaseResultMap" type="com.kingdee.hrp.sms.common.model.FormClassEntry">
    <id column="class_id" jdbcType="INTEGER" property="classId" />
    <id column="entry_index" jdbcType="INTEGER" property="entryIndex" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="primary_key" jdbcType="VARCHAR" property="primaryKey" />
    <result column="foreign_key" jdbcType="VARCHAR" property="foreignKey" />
    <result column="join_type" jdbcType="VARCHAR" property="joinType" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    class_id, entry_index, `name`, `table_name`, primary_key, foreign_key, join_type, 
    `desc`
  </sql>
  <select id="selectByExample" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_form_class_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_form_class_entry
    where class_id = #{classId,jdbcType=INTEGER}
      and entry_index = #{entryIndex,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntryKey">
    delete from t_form_class_entry
    where class_id = #{classId,jdbcType=INTEGER}
      and entry_index = #{entryIndex,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntryExample">
    delete from t_form_class_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntry">
    insert into t_form_class_entry (class_id, entry_index, `name`, 
      `table_name`, primary_key, foreign_key, 
      join_type, `desc`)
    values (#{classId,jdbcType=INTEGER}, #{entryIndex,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{tableName,jdbcType=VARCHAR}, #{primaryKey,jdbcType=VARCHAR}, #{foreignKey,jdbcType=VARCHAR}, 
      #{joinType,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntry">
    insert into t_form_class_entry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        class_id,
      </if>
      <if test="entryIndex != null">
        entry_index,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="tableName != null">
        `table_name`,
      </if>
      <if test="primaryKey != null">
        primary_key,
      </if>
      <if test="foreignKey != null">
        foreign_key,
      </if>
      <if test="joinType != null">
        join_type,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="entryIndex != null">
        #{entryIndex,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null">
        #{primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="foreignKey != null">
        #{foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="joinType != null">
        #{joinType,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntryExample" resultType="java.lang.Long">
    select count(*) from t_form_class_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_form_class_entry
    <set>
      <if test="record.classId != null">
        class_id = #{record.classId,jdbcType=INTEGER},
      </if>
      <if test="record.entryIndex != null">
        entry_index = #{record.entryIndex,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null">
        `table_name` = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.primaryKey != null">
        primary_key = #{record.primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="record.foreignKey != null">
        foreign_key = #{record.foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="record.joinType != null">
        join_type = #{record.joinType,jdbcType=VARCHAR},
      </if>
      <if test="record.desc != null">
        `desc` = #{record.desc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_form_class_entry
    set class_id = #{record.classId,jdbcType=INTEGER},
      entry_index = #{record.entryIndex,jdbcType=INTEGER},
      `name` = #{record.name,jdbcType=VARCHAR},
      `table_name` = #{record.tableName,jdbcType=VARCHAR},
      primary_key = #{record.primaryKey,jdbcType=VARCHAR},
      foreign_key = #{record.foreignKey,jdbcType=VARCHAR},
      join_type = #{record.joinType,jdbcType=VARCHAR},
      `desc` = #{record.desc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntry">
    update t_form_class_entry
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        `table_name` = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null">
        primary_key = #{primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="foreignKey != null">
        foreign_key = #{foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="joinType != null">
        join_type = #{joinType,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where class_id = #{classId,jdbcType=INTEGER}
      and entry_index = #{entryIndex,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntry">
    update t_form_class_entry
    set `name` = #{name,jdbcType=VARCHAR},
      `table_name` = #{tableName,jdbcType=VARCHAR},
      primary_key = #{primaryKey,jdbcType=VARCHAR},
      foreign_key = #{foreignKey,jdbcType=VARCHAR},
      join_type = #{joinType,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR}
    where class_id = #{classId,jdbcType=INTEGER}
      and entry_index = #{entryIndex,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into t_form_class_entry
    (class_id, entry_index, `name`, `table_name`, primary_key, foreign_key, join_type, 
      `desc`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.classId,jdbcType=INTEGER}, #{item.entryIndex,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, 
        #{item.tableName,jdbcType=VARCHAR}, #{item.primaryKey,jdbcType=VARCHAR}, #{item.foreignKey,jdbcType=VARCHAR}, 
        #{item.joinType,jdbcType=VARCHAR}, #{item.desc,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into t_form_class_entry (
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'class_id' == column.value">
          #{item.classId,jdbcType=INTEGER}
        </if>
        <if test="'entry_index' == column.value">
          #{item.entryIndex,jdbcType=INTEGER}
        </if>
        <if test="'name' == column.value">
          #{item.name,jdbcType=VARCHAR}
        </if>
        <if test="'table_name' == column.value">
          #{item.tableName,jdbcType=VARCHAR}
        </if>
        <if test="'primary_key' == column.value">
          #{item.primaryKey,jdbcType=VARCHAR}
        </if>
        <if test="'foreign_key' == column.value">
          #{item.foreignKey,jdbcType=VARCHAR}
        </if>
        <if test="'join_type' == column.value">
          #{item.joinType,jdbcType=VARCHAR}
        </if>
        <if test="'desc' == column.value">
          #{item.desc,jdbcType=VARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
  <resultMap id="BaseResultMap" type="com.kingdee.hrp.sms.common.model.FormClassEntry">
    <id column="class_id" jdbcType="INTEGER" property="classId" />
    <id column="entry_index" jdbcType="INTEGER" property="entryIndex" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="primary_key" jdbcType="VARCHAR" property="primaryKey" />
    <result column="foreign_key" jdbcType="VARCHAR" property="foreignKey" />
    <result column="join_type" jdbcType="VARCHAR" property="joinType" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    class_id, entry_index, `name`, `table_name`, primary_key, foreign_key, join_type, 
    `desc`
  </sql>
  <select id="selectByExample" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_form_class_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_form_class_entry
    where class_id = #{classId,jdbcType=INTEGER}
      and entry_index = #{entryIndex,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntryKey">
    delete from t_form_class_entry
    where class_id = #{classId,jdbcType=INTEGER}
      and entry_index = #{entryIndex,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntryExample">
    delete from t_form_class_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntry">
    insert into t_form_class_entry (class_id, entry_index, `name`, 
      `table_name`, primary_key, foreign_key, 
      join_type, `desc`)
    values (#{classId,jdbcType=INTEGER}, #{entryIndex,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{tableName,jdbcType=VARCHAR}, #{primaryKey,jdbcType=VARCHAR}, #{foreignKey,jdbcType=VARCHAR}, 
      #{joinType,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntry">
    insert into t_form_class_entry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        class_id,
      </if>
      <if test="entryIndex != null">
        entry_index,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="tableName != null">
        `table_name`,
      </if>
      <if test="primaryKey != null">
        primary_key,
      </if>
      <if test="foreignKey != null">
        foreign_key,
      </if>
      <if test="joinType != null">
        join_type,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="entryIndex != null">
        #{entryIndex,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null">
        #{primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="foreignKey != null">
        #{foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="joinType != null">
        #{joinType,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntryExample" resultType="java.lang.Long">
    select count(*) from t_form_class_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_form_class_entry
    <set>
      <if test="record.classId != null">
        class_id = #{record.classId,jdbcType=INTEGER},
      </if>
      <if test="record.entryIndex != null">
        entry_index = #{record.entryIndex,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null">
        `table_name` = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.primaryKey != null">
        primary_key = #{record.primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="record.foreignKey != null">
        foreign_key = #{record.foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="record.joinType != null">
        join_type = #{record.joinType,jdbcType=VARCHAR},
      </if>
      <if test="record.desc != null">
        `desc` = #{record.desc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_form_class_entry
    set class_id = #{record.classId,jdbcType=INTEGER},
      entry_index = #{record.entryIndex,jdbcType=INTEGER},
      `name` = #{record.name,jdbcType=VARCHAR},
      `table_name` = #{record.tableName,jdbcType=VARCHAR},
      primary_key = #{record.primaryKey,jdbcType=VARCHAR},
      foreign_key = #{record.foreignKey,jdbcType=VARCHAR},
      join_type = #{record.joinType,jdbcType=VARCHAR},
      `desc` = #{record.desc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntry">
    update t_form_class_entry
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        `table_name` = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null">
        primary_key = #{primaryKey,jdbcType=VARCHAR},
      </if>
      <if test="foreignKey != null">
        foreign_key = #{foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="joinType != null">
        join_type = #{joinType,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where class_id = #{classId,jdbcType=INTEGER}
      and entry_index = #{entryIndex,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingdee.hrp.sms.common.model.FormClassEntry">
    update t_form_class_entry
    set `name` = #{name,jdbcType=VARCHAR},
      `table_name` = #{tableName,jdbcType=VARCHAR},
      primary_key = #{primaryKey,jdbcType=VARCHAR},
      foreign_key = #{foreignKey,jdbcType=VARCHAR},
      join_type = #{joinType,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR}
    where class_id = #{classId,jdbcType=INTEGER}
      and entry_index = #{entryIndex,jdbcType=INTEGER}
  </update>
</mapper>