<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.hrp.sms.common.dao.generate.HospitalMapper">
  <resultMap id="BaseResultMap" type="com.kingdee.hrp.sms.common.model.Hospital">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="registration_no" jdbcType="VARCHAR" property="registrationNo" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="medical_subjects" jdbcType="VARCHAR" property="medicalSubjects" />
    <result column="principal" jdbcType="VARCHAR" property="principal" />
    <result column="issue_agency" jdbcType="VARCHAR" property="issueAgency" />
    <result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
    <result column="province" jdbcType="INTEGER" property="province" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="district" jdbcType="INTEGER" property="district" />
    <result column="issue_date" jdbcType="TIMESTAMP" property="issueDate" />
    <result column="validity_period_begin" jdbcType="TIMESTAMP" property="validityPeriodBegin" />
    <result column="validity_period_end" jdbcType="TIMESTAMP" property="validityPeriodEnd" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `number`, `name`, registration_no, address, introduction, medical_subjects, principal, 
    issue_agency, legal_person, province, city, district, issue_date, validity_period_begin, 
    validity_period_end, logo, `status`, contacts, phone
  </sql>
  <select id="selectByExample" parameterType="com.kingdee.hrp.sms.common.model.HospitalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_hospital
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_hospital
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_hospital
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kingdee.hrp.sms.common.model.HospitalExample">
    delete from t_hospital
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kingdee.hrp.sms.common.model.Hospital">
    insert into t_hospital (id, `number`, `name`, 
      registration_no, address, introduction, 
      medical_subjects, principal, issue_agency, 
      legal_person, province, city, 
      district, issue_date, validity_period_begin, 
      validity_period_end, logo, `status`, 
      contacts, phone)
    values (#{id,jdbcType=BIGINT}, #{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{registrationNo,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{medicalSubjects,jdbcType=VARCHAR}, #{principal,jdbcType=VARCHAR}, #{issueAgency,jdbcType=VARCHAR}, 
      #{legalPerson,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, 
      #{district,jdbcType=INTEGER}, #{issueDate,jdbcType=TIMESTAMP}, #{validityPeriodBegin,jdbcType=TIMESTAMP}, 
      #{validityPeriodEnd,jdbcType=TIMESTAMP}, #{logo,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{contacts,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kingdee.hrp.sms.common.model.Hospital">
    insert into t_hospital
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        `number`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="registrationNo != null">
        registration_no,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="medicalSubjects != null">
        medical_subjects,
      </if>
      <if test="principal != null">
        principal,
      </if>
      <if test="issueAgency != null">
        issue_agency,
      </if>
      <if test="legalPerson != null">
        legal_person,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="issueDate != null">
        issue_date,
      </if>
      <if test="validityPeriodBegin != null">
        validity_period_begin,
      </if>
      <if test="validityPeriodEnd != null">
        validity_period_end,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="contacts != null">
        contacts,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="registrationNo != null">
        #{registrationNo,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="medicalSubjects != null">
        #{medicalSubjects,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="issueAgency != null">
        #{issueAgency,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null">
        #{district,jdbcType=INTEGER},
      </if>
      <if test="issueDate != null">
        #{issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validityPeriodBegin != null">
        #{validityPeriodBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="validityPeriodEnd != null">
        #{validityPeriodEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kingdee.hrp.sms.common.model.HospitalExample" resultType="java.lang.Long">
    select count(*) from t_hospital
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_hospital
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.number != null">
        `number` = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.registrationNo != null">
        registration_no = #{record.registrationNo,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null">
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.medicalSubjects != null">
        medical_subjects = #{record.medicalSubjects,jdbcType=VARCHAR},
      </if>
      <if test="record.principal != null">
        principal = #{record.principal,jdbcType=VARCHAR},
      </if>
      <if test="record.issueAgency != null">
        issue_agency = #{record.issueAgency,jdbcType=VARCHAR},
      </if>
      <if test="record.legalPerson != null">
        legal_person = #{record.legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=INTEGER},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=INTEGER},
      </if>
      <if test="record.district != null">
        district = #{record.district,jdbcType=INTEGER},
      </if>
      <if test="record.issueDate != null">
        issue_date = #{record.issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validityPeriodBegin != null">
        validity_period_begin = #{record.validityPeriodBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validityPeriodEnd != null">
        validity_period_end = #{record.validityPeriodEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.logo != null">
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.contacts != null">
        contacts = #{record.contacts,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_hospital
    set id = #{record.id,jdbcType=BIGINT},
      `number` = #{record.number,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      registration_no = #{record.registrationNo,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      medical_subjects = #{record.medicalSubjects,jdbcType=VARCHAR},
      principal = #{record.principal,jdbcType=VARCHAR},
      issue_agency = #{record.issueAgency,jdbcType=VARCHAR},
      legal_person = #{record.legalPerson,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=INTEGER},
      city = #{record.city,jdbcType=INTEGER},
      district = #{record.district,jdbcType=INTEGER},
      issue_date = #{record.issueDate,jdbcType=TIMESTAMP},
      validity_period_begin = #{record.validityPeriodBegin,jdbcType=TIMESTAMP},
      validity_period_end = #{record.validityPeriodEnd,jdbcType=TIMESTAMP},
      logo = #{record.logo,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=BIT},
      contacts = #{record.contacts,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingdee.hrp.sms.common.model.Hospital">
    update t_hospital
    <set>
      <if test="number != null">
        `number` = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="registrationNo != null">
        registration_no = #{registrationNo,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="medicalSubjects != null">
        medical_subjects = #{medicalSubjects,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        principal = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="issueAgency != null">
        issue_agency = #{issueAgency,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=INTEGER},
      </if>
      <if test="issueDate != null">
        issue_date = #{issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validityPeriodBegin != null">
        validity_period_begin = #{validityPeriodBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="validityPeriodEnd != null">
        validity_period_end = #{validityPeriodEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BIT},
      </if>
      <if test="contacts != null">
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingdee.hrp.sms.common.model.Hospital">
    update t_hospital
    set `number` = #{number,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      registration_no = #{registrationNo,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      medical_subjects = #{medicalSubjects,jdbcType=VARCHAR},
      principal = #{principal,jdbcType=VARCHAR},
      issue_agency = #{issueAgency,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      district = #{district,jdbcType=INTEGER},
      issue_date = #{issueDate,jdbcType=TIMESTAMP},
      validity_period_begin = #{validityPeriodBegin,jdbcType=TIMESTAMP},
      validity_period_end = #{validityPeriodEnd,jdbcType=TIMESTAMP},
      logo = #{logo,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=BIT},
      contacts = #{contacts,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into t_hospital
    (id, `number`, `name`, registration_no, address, introduction, medical_subjects, 
      principal, issue_agency, legal_person, province, city, district, issue_date, validity_period_begin, 
      validity_period_end, logo, `status`, contacts, phone)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.number,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, 
        #{item.registrationNo,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR}, #{item.introduction,jdbcType=VARCHAR}, 
        #{item.medicalSubjects,jdbcType=VARCHAR}, #{item.principal,jdbcType=VARCHAR}, #{item.issueAgency,jdbcType=VARCHAR}, 
        #{item.legalPerson,jdbcType=VARCHAR}, #{item.province,jdbcType=INTEGER}, #{item.city,jdbcType=INTEGER}, 
        #{item.district,jdbcType=INTEGER}, #{item.issueDate,jdbcType=TIMESTAMP}, #{item.validityPeriodBegin,jdbcType=TIMESTAMP}, 
        #{item.validityPeriodEnd,jdbcType=TIMESTAMP}, #{item.logo,jdbcType=VARCHAR}, #{item.status,jdbcType=BIT}, 
        #{item.contacts,jdbcType=VARCHAR}, #{item.phone,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into t_hospital (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id'.toString() == column.value">
          #{item.id,jdbcType=BIGINT}
        </if>
        <if test="'number'.toString() == column.value">
          #{item.number,jdbcType=VARCHAR}
        </if>
        <if test="'name'.toString() == column.value">
          #{item.name,jdbcType=VARCHAR}
        </if>
        <if test="'registration_no'.toString() == column.value">
          #{item.registrationNo,jdbcType=VARCHAR}
        </if>
        <if test="'address'.toString() == column.value">
          #{item.address,jdbcType=VARCHAR}
        </if>
        <if test="'introduction'.toString() == column.value">
          #{item.introduction,jdbcType=VARCHAR}
        </if>
        <if test="'medical_subjects'.toString() == column.value">
          #{item.medicalSubjects,jdbcType=VARCHAR}
        </if>
        <if test="'principal'.toString() == column.value">
          #{item.principal,jdbcType=VARCHAR}
        </if>
        <if test="'issue_agency'.toString() == column.value">
          #{item.issueAgency,jdbcType=VARCHAR}
        </if>
        <if test="'legal_person'.toString() == column.value">
          #{item.legalPerson,jdbcType=VARCHAR}
        </if>
        <if test="'province'.toString() == column.value">
          #{item.province,jdbcType=INTEGER}
        </if>
        <if test="'city'.toString() == column.value">
          #{item.city,jdbcType=INTEGER}
        </if>
        <if test="'district'.toString() == column.value">
          #{item.district,jdbcType=INTEGER}
        </if>
        <if test="'issue_date'.toString() == column.value">
          #{item.issueDate,jdbcType=TIMESTAMP}
        </if>
        <if test="'validity_period_begin'.toString() == column.value">
          #{item.validityPeriodBegin,jdbcType=TIMESTAMP}
        </if>
        <if test="'validity_period_end'.toString() == column.value">
          #{item.validityPeriodEnd,jdbcType=TIMESTAMP}
        </if>
        <if test="'logo'.toString() == column.value">
          #{item.logo,jdbcType=VARCHAR}
        </if>
        <if test="'status'.toString() == column.value">
          #{item.status,jdbcType=BIT}
        </if>
        <if test="'contacts'.toString() == column.value">
          #{item.contacts,jdbcType=VARCHAR}
        </if>
        <if test="'phone'.toString() == column.value">
          #{item.phone,jdbcType=VARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>