<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.eas.hrp.sms.dao.generate.MsgLogMapper">
  <resultMap id="BaseResultMap" type="com.kingdee.eas.hrp.sms.model.MsgLog">
    <id column="seqid" jdbcType="VARCHAR" property="seqid" />
    <result column="mobiles" jdbcType="VARCHAR" property="mobiles" />
    <result column="smsContent" jdbcType="VARCHAR" property="smsContent" />
    <result column="restr" jdbcType="VARCHAR" property="restr" />
    <result column="sendtime" jdbcType="TIMESTAMP" property="sendtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    seqid, mobiles, smsContent, restr, sendtime
  </sql>
  <select id="selectByExample" parameterType="com.kingdee.eas.hrp.sms.model.MsgLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sms_msglog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sms_msglog
    where seqid = #{seqid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sms_msglog
    where seqid = #{seqid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kingdee.eas.hrp.sms.model.MsgLogExample">
    delete from t_sms_msglog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kingdee.eas.hrp.sms.model.MsgLog">
    insert into t_sms_msglog (seqid, mobiles, smsContent, 
      restr, sendtime)
    values (#{seqid,jdbcType=VARCHAR}, #{mobiles,jdbcType=VARCHAR}, #{smsContent,jdbcType=VARCHAR}, 
      #{restr,jdbcType=VARCHAR}, #{sendtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kingdee.eas.hrp.sms.model.MsgLog">
    insert into t_sms_msglog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqid != null">
        seqid,
      </if>
      <if test="mobiles != null">
        mobiles,
      </if>
      <if test="smsContent != null">
        smsContent,
      </if>
      <if test="restr != null">
        restr,
      </if>
      <if test="sendtime != null">
        sendtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqid != null">
        #{seqid,jdbcType=VARCHAR},
      </if>
      <if test="mobiles != null">
        #{mobiles,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null">
        #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="restr != null">
        #{restr,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kingdee.eas.hrp.sms.model.MsgLogExample" resultType="java.lang.Long">
    select count(*) from t_sms_msglog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sms_msglog
    <set>
      <if test="record.seqid != null">
        seqid = #{record.seqid,jdbcType=VARCHAR},
      </if>
      <if test="record.mobiles != null">
        mobiles = #{record.mobiles,jdbcType=VARCHAR},
      </if>
      <if test="record.smsContent != null">
        smsContent = #{record.smsContent,jdbcType=VARCHAR},
      </if>
      <if test="record.restr != null">
        restr = #{record.restr,jdbcType=VARCHAR},
      </if>
      <if test="record.sendtime != null">
        sendtime = #{record.sendtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sms_msglog
    set seqid = #{record.seqid,jdbcType=VARCHAR},
      mobiles = #{record.mobiles,jdbcType=VARCHAR},
      smsContent = #{record.smsContent,jdbcType=VARCHAR},
      restr = #{record.restr,jdbcType=VARCHAR},
      sendtime = #{record.sendtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingdee.eas.hrp.sms.model.MsgLog">
    update t_sms_msglog
    <set>
      <if test="mobiles != null">
        mobiles = #{mobiles,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null">
        smsContent = #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="restr != null">
        restr = #{restr,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        sendtime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where seqid = #{seqid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingdee.eas.hrp.sms.model.MsgLog">
    update t_sms_msglog
    set mobiles = #{mobiles,jdbcType=VARCHAR},
      smsContent = #{smsContent,jdbcType=VARCHAR},
      restr = #{restr,jdbcType=VARCHAR},
      sendtime = #{sendtime,jdbcType=TIMESTAMP}
    where seqid = #{seqid,jdbcType=VARCHAR}
  </update>
</mapper>