<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.eas.hrp.sms.dao.generate.PurInWarehsMapper">
  <resultMap id="BaseResultMap" type="com.kingdee.eas.hrp.sms.model.PurInWarehs">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="bizDate" jdbcType="TIMESTAMP" property="bizDate" />
    <result column="baseStatus" jdbcType="TINYINT" property="baseStatus" />
    <result column="sourceBillType" jdbcType="VARCHAR" property="sourceBillType" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, [number], bizDate, baseStatus, sourceBillType, supplier
  </sql>
  <select id="selectByExample" parameterType="com.kingdee.eas.hrp.sms.model.PurInWarehsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sms_purinwarehs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sms_purinwarehs
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sms_purinwarehs
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kingdee.eas.hrp.sms.model.PurInWarehsExample">
    delete from t_sms_purinwarehs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kingdee.eas.hrp.sms.model.PurInWarehs">
    insert into t_sms_purinwarehs (id, [number], bizDate, 
      baseStatus, sourceBillType, supplier
      )
    values (#{id,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{bizDate,jdbcType=TIMESTAMP}, 
      #{baseStatus,jdbcType=TINYINT}, #{sourceBillType,jdbcType=VARCHAR}, #{supplier,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kingdee.eas.hrp.sms.model.PurInWarehs">
    insert into t_sms_purinwarehs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        [number],
      </if>
      <if test="bizDate != null">
        bizDate,
      </if>
      <if test="baseStatus != null">
        baseStatus,
      </if>
      <if test="sourceBillType != null">
        sourceBillType,
      </if>
      <if test="supplier != null">
        supplier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="bizDate != null">
        #{bizDate,jdbcType=TIMESTAMP},
      </if>
      <if test="baseStatus != null">
        #{baseStatus,jdbcType=TINYINT},
      </if>
      <if test="sourceBillType != null">
        #{sourceBillType,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kingdee.eas.hrp.sms.model.PurInWarehsExample" resultType="java.lang.Long">
    select count(*) from t_sms_purinwarehs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sms_purinwarehs
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null">
        [number] = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.bizDate != null">
        bizDate = #{record.bizDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.baseStatus != null">
        baseStatus = #{record.baseStatus,jdbcType=TINYINT},
      </if>
      <if test="record.sourceBillType != null">
        sourceBillType = #{record.sourceBillType,jdbcType=VARCHAR},
      </if>
      <if test="record.supplier != null">
        supplier = #{record.supplier,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sms_purinwarehs
    set id = #{record.id,jdbcType=VARCHAR},
      [number] = #{record.number,jdbcType=VARCHAR},
      bizDate = #{record.bizDate,jdbcType=TIMESTAMP},
      baseStatus = #{record.baseStatus,jdbcType=TINYINT},
      sourceBillType = #{record.sourceBillType,jdbcType=VARCHAR},
      supplier = #{record.supplier,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingdee.eas.hrp.sms.model.PurInWarehs">
    update t_sms_purinwarehs
    <set>
      <if test="number != null">
        [number] = #{number,jdbcType=VARCHAR},
      </if>
      <if test="bizDate != null">
        bizDate = #{bizDate,jdbcType=TIMESTAMP},
      </if>
      <if test="baseStatus != null">
        baseStatus = #{baseStatus,jdbcType=TINYINT},
      </if>
      <if test="sourceBillType != null">
        sourceBillType = #{sourceBillType,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingdee.eas.hrp.sms.model.PurInWarehs">
    update t_sms_purinwarehs
    set [number] = #{number,jdbcType=VARCHAR},
      bizDate = #{bizDate,jdbcType=TIMESTAMP},
      baseStatus = #{baseStatus,jdbcType=TINYINT},
      sourceBillType = #{sourceBillType,jdbcType=VARCHAR},
      supplier = #{supplier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>