.no-border, .no-borders {
    border-color: transparent;
    border-width: 0;
}

.bg-light {
    color: #58666e;
    background-color: #edf1f2;
}

.rounded {
    border-radius: 500px;
}

.form-control, .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-hospital-search .iconfont {
    font-size: 12px !important;
}

.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.iframe > .container-fluid {
    padding-top: 10px;
}

.container-fluid.options {
    margin-bottom: 10px;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-left: 0px !important;
}