.options {
  width: 100%;
  background-color: #fff;
}
.options .btn-box {
  background-color: #f1f2f4;
  margin: 10px;
}
.options .btn-box li {
  display: inline-block;
}
.options .btn-box .btn {
  border: 0px;
  text-align: center;
  font: 14px 'Microsoft YaHei';
  color: #fff;
  background: #4fb0d1;
  padding: 5px 20px;
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.main-content {
  margin-left: 20px;
}
.main-content .sep-row {
  height: 40px;
  line-height: 40px;
}
.main-content .sep-row .text {
  margin: 0 5px;
  font-size: 14px;
}
.main-content .sep-row .line {
  background-color: #d0d0d0;
  display: inline-block;
  border: 0px;
  height: 1px;
  width: 700px;
  overflow: hidden;
  vertical-align: middle;
}
.main-content .content-box {
  margin-left: 50px;
  margin-top: 20px;
  font-size: 12px;
}
.main-content .content-box .data-table {
  display: inline-block;
}
.main-content .content-box .data-table > tbody > tr {
  height: 42px;
}
.main-content .content-box .data-table > tbody > tr .col-desc {
  width: 150px;
}
.main-content .content-box .data-table > tbody > tr .col-value > input {
  height: 20px;
  padding: 5px 8px;
  vertical-align: middle;
}
.main-content .content-box .data-table > tbody > tr .col-value > select {
  height: 34px;
  padding: 5px 8px;
}
.main-content .content-box .data-table > tbody > tr .col-value .memo {
  line-height: 72px;
}
.main-content .content-box .data-table > tbody > tr .col-value .memo > textarea {
  float: left;
  padding: 5px 8px;
  margin: 4px 0;
}
.main-content .content-box .data-table > tbody > tr .col-value .memo > span {
  display: inline-block;
  vertical-align: middle;
}
.main-content .content-box .data-table > tbody > tr .col-value .msg {
  color: red;
  margin-left: 10px;
  display: none;
}
.main-content .content-box .data-table > tbody > tr .col-value .show {
  display: inline-block;
}
