blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, arial, "Hiragino Sans Gb", simsun, sans-serif;
}
li,
ol {
  list-style: none;
}
ol,
ul {
  list-style: none;
}
.bread-crumbs-box:before,
.bread-crumbs-box:after {
  content: " ";
  display: table;
}
.bread-crumbs-box:after {
  clear: both;
}
.hidden {
  display: none;
}
.bread-crumbs:before,
.bread-crumbs:after {
  content: " ";
  display: table;
  zoom: 1;
  clear: both;
}
.bread-crumbs > li {
  position: relative;
  padding-left: 5px;
  height: 35px;
  line-height: 35px;
  float: left;
}
.bread-crumbs > li:hover {
  background: #4fb0d1;
}
.bread-crumbs > li:hover a {
  color: #fff;
}
.bread-crumbs > li:hover span {
  background: #7bc7e7;
}
.bread-crumbs > li:hover .icon-dropdown {
  border-color: transparent transparent transparent #fff;
}
.bread-crumbs > li a {
  display: inline-block;
  border-right: 1px solid;
  border-color: transparent;
  padding: 0 5px;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}
.bread-crumbs > li span {
  display: inline-block;
  vertical-align: top;
  height: 35px;
  width: 25px;
  cursor: pointer;
}
.bread-crumbs > li .on .icon-dropdown {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.bread-crumbs > li .icon-dropdown {
  -moz-transform-origin: 25% 50%;
  -ms-transform-origin: 25% 50%;
  -o-transform-origin: 25% 50%;
  -webkit-transform-origin: 25% 50%;
  transform-origin: 25% 50%;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  position: absolute;
  border-style: solid;
  border-width: 5px 7px;
  border-color: transparent transparent transparent #dddddd;
  top: 14px;
  right: 0px;
}
.bread-crumbs .last:hover {
  background-color: transparent;
}
.bread-crumbs .last:hover a {
  cursor: text;
  color: #000000;
}
.clear {
  clear: both;
  content: "";
  display: block;
}
.bread-crumbs {
  line-height: 40px;
}
.bread-crumbs > ul {
  margin-right: 220px;
}
.bread-crumbs > ul:after {
  clear: both;
  content: "";
  display: block;
}
.bread-crumbs li {
  margin-right: 10px;
  float: left;
}
.bread-crumbs .section:after {
  font-weight: bold;
  font-family: 'simsun';
  margin-left: 10px;
  content: ">";
  display: inline;
}
.bread-crumbs .option-selected {
  border-radius: 2px;
  color: #fff;
  line-height: 12px;
  height: 12px;
  padding: 4px 6px;
  background: #ee8f66;
  font-size: 12px;
}
.bread-crumbs .option-selected .close {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  cursor: pointer;
}
.bread-crumbs .search-box {
  float: right;
  /*border: 1px solid #d4d9e1;*/
  border-radius: 2px;
  height: 28px;
  width: 208px;
  margin-top: 6px;
  margin-right: 10px;
  line-height: 24px;
  background-color: #fff;
  position: relative;
}
.bread-crumbs .search-box .serach-icon {
  position: absolute;
  left: 0;
  background: url(order/img/icon-order.png) no-repeat 0px -66px;
  height: 14px;
  padding-left: 16px;
  float: left;
  margin-top: 7px;
  margin-left: 6px;
  margin-right: 3px;
  display: block;
}
.bread-crumbs .search-box input {
  padding-left: 25px;
  width: 183px;
  border: none;
  height: 26px;
  border: 0;
}
.bread-crumbs:after {
  clear: both;
  content: "";
  display: block;
}
.filter-box {
  margin-bottom: 50px;
}
.filter-box-header {
  margin: 9px 0;
}
.filter-box-header li {
  float: left;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
  color: #838383;
}
.filter-box-header li:before {
  content: '|';
  margin: 0 12px;
}
.filter-box-header li:first-child:before {
  content: ' ';
  margin: 0;
}
.filter-box-header .selected {
  color: #53a5dd;
}
.filter-box-header:after {
  clear: both;
  content: "";
  display: block;
}
.filter-box-body {
  border: 0;
  background: #ecedf1;
  padding: 0 16px;
  position: relative;
}
.filter-box-body:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 14px;
  border-color: transparent transparent #ecedf1 transparent;
  position: absolute;
  top: -15px;
  left: 10px;
}
.filter-box-body .more-panel .hidden {
  display: block;
}
.filter-box-body .more-panel .options {
  overflow: visible;
}
.filter-box-body > li {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #dadee5;
}
.filter-box-body > li:first-child {
  border-top: 0;
}
.filter-box-body > li .search-input {
  width: 180px;
}
.filter-box-body > li .search-range {
  width: 80px;
}
.filter-box-body > li .option-title {
  color: #838383;
  float: left;
  width: 76px;
}
.filter-box-body > li .options {
  margin-left: 74px;
  height: 40px;
  display: block;
  color: #141414;
}
.filter-box-body > li .options:after {
  clear: both;
  content: "";
  display: block;
}
.filter-box-body > li .options .time-picker {
  width: auto;
}
.filter-box-body > li .options .time-picker .time-box .time-picker-label {
  display: inline-block;
  vertical-align: middle;
}
.filter-box-body > li .options .time-picker .time-box .sub-bt {
  background: transparent;
  border: 1px solid #d4d9e1;
  border-radius: 2px;
  width: 50px;
  height: 22px;
  cursor: pointer;
  background: #fff;
}
.filter-box-body > li .options .time-picker .time-box:after {
  clear: both;
  content: "";
  display: block;
}
.filter-box-body > li .options .time-picker .datetime-picker {
  position: relative;
  height: 21px;
  border: 1px solid #dadee5;
  border-radius: 2px;
  font-size: 12px;
  width: auto;
}
.filter-box-body > li .options .time-picker .datetime-picker .date-label {
  font-size: 12px;
  line-height: 15px;
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 5px;
  width: 102px;
  height: 15px;
  border: none;
  display: block;
}
.filter-box-body > li .options .time-picker .datetime-picker .icon-calendar {
  position: absolute;
  right: 0;
  top: 0;
  background: url(img/golbal-icons.png) no-repeat;
  margin-top: 3px;
  margin-right: 3px;
  width: 16px;
  height: 15px;
  display: block;
}
.filter-box-body > li .options .time-picker .datetime-picker:after {
  clear: both;
  content: "";
  display: block;
}
.filter-box-body > li .options > li {
  width: 120px;
  float: left;
}
.filter-box-body > li .options > li > span {
  cursor: pointer;
}
.filter-box-body > li .options > li > span:hover {
  color: #008d84;
}
.filter-box-body > li .options > li .icon-select {
  background: url(order/img/icon-order.png) no-repeat 0px -80px;
  height: 14px;
  margin-top: 13px;
  margin-right: 6px;
  padding-left: 16px;
  float: left;
  display: none;
  cursor: pointer;
}
.filter-box-body > li .options > li .selected {
  background: url(order/img/icon-order.png) no-repeat 0px -94px;
}
.filter-box-body > li .options > li .icon-flag1 {
  background: url(order/img/op_memo_1.png) no-repeat center;
  height: 14px;
  margin-top: 8px;
  margin-right: 6px;
  float: left;
  cursor: pointer;
  padding: 5px;
  width: 20px;
  border: 1px solid #ecedf1;
}
.filter-box-body > li .options > li .icon-flag2 {
  background: url(order/img/op_memo_2.png) no-repeat center;
  height: 14px;
  margin-top: 8px;
  margin-right: 6px;
  float: left;
  cursor: pointer;
  padding: 5px;
  width: 20px;
  border: 1px solid #ecedf1;
}
.filter-box-body > li .options > li .icon-flag3 {
  background: url(order/img/op_memo_3.png) no-repeat center;
  height: 14px;
  margin-top: 8px;
  margin-right: 6px;
  float: left;
  cursor: pointer;
  padding: 5px;
  width: 20px;
  border: 1px solid #ecedf1;
}
.filter-box-body > li .options > li .icon-flag4 {
  background: url(order/img/op_memo_4.png) no-repeat center;
  height: 14px;
  margin-top: 8px;
  margin-right: 6px;
  float: left;
  cursor: pointer;
  padding: 5px;
  width: 20px;
  border: 1px solid #ecedf1;
}
.filter-box-body > li .options > li .icon-flag5 {
  background: url(order/img/op_memo_5.png) no-repeat center;
  height: 14px;
  margin-top: 8px;
  margin-right: 6px;
  float: left;
  cursor: pointer;
  padding: 5px;
  width: 20px;
  border: 1px solid #ecedf1;
}
.filter-box-body > li .options > li .icon-flag6 {
  background: url(order/img/op_memo_6.png) no-repeat center;
  height: 14px;
  margin-top: 8px;
  margin-right: 6px;
  float: left;
  cursor: pointer;
  padding: 5px;
  width: 20px;
  border: 1px solid #ecedf1;
}
.filter-box-body > li .options > li .flag-selected {
  border: 1px solid #1491ff;
}
.filter-box-body > li .options > .line {
  width: 90%;
}
.filter-box-body > li .options .last {
  float: right;
}
.filter-box-body > li .options .selected {
  color: #ed8244;
  font-weight: bold;
}
.filter-box-body > li .options .selected > span:hover {
  color: #ed8244;
}
.filter-box-body > li .multi-commit {
  text-align: center;
}
.filter-box-body > li .multi-commit > input {
  width: 100px;
  border: none;
  border-radius: 2px;
  height: 24px;
  cursor: pointer;
}
.filter-box-body > li .multi-commit .sub-bt {
  background-color: #06bcb4;
  color: #fff;
}
.filter-box-body > li .multi-commit .cancel-bt {
  margin-left: 20px;
  border: 1px solid #d4d9e1;
  background-color: #fff;
}
.filter-box-body > li .select-more {
  float: right;
  position: relative;
}
.filter-box-body > li .select-more .more-bt:after {
  content: "更多";
}
.filter-box-body > li .select-more > div {
  margin-top: 8px;
  line-height: 24px;
  margin-right: 10px;
  padding-left: 6px;
  float: left;
  height: 24px;
  width: 48px;
  border-radius: 2px;
  border: 1px solid #d4d9e1;
  cursor: pointer;
  background: #fff;
}
.filter-box-body > li .select-more > div .multi-icon {
  background: url(order/img/icon-order.png) no-repeat 0px -10px;
  height: 10px;
  margin-top: 7px;
  padding-left: 8px;
  display: block;
  width: 10px;
  float: right;
}
.filter-box-body > li .select-more > div .more-icon {
  background: url(order/img/icon-order.png) no-repeat 0px 0px;
  height: 10px;
  margin-top: 7px;
  padding-left: 8px;
  display: block;
  width: 10px;
  float: right;
}
.filter-box-body > li .select-more .custom-date-time {
  width: auto;
}
.filter-box-body > li .select-more .custom-date-time .custom-zone {
  width: auto;
  padding: 0px 5px;
}
.filter-box-body > li .select-more .custom-date-time .custom-area {
  width: 154px;
  border: 1px solid #d4d9e1;
  position: absolute;
  top: 33px;
  left: -66px;
  cursor: default;
  background: #fff;
  z-index: 1000;
  padding-bottom: 5px;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li {
  display: block;
  list-style: none;
  padding: 5px 5px 0;
  overflow: hidden;
  position: relative;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .hm_list {
  position: absolute;
  top: 95px;
  left: -30px;
  z-index: 1002;
  height: 106px;
  line-height: 106px;
  border: 1px solid #ecedf1;
  background: #fff;
  padding: 8px 8px;
  margin: 0;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .hm_list > li {
  display: block;
  float: left;
  padding: 0 5px;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .hm_list > li > .up-down-btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  cursor: pointer;
  text-align: center;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .hm_list > li > .up-down-btn > .up {
  background: url('img/up.png') no-repeat;
  display: inline-block;
  width: 10px;
  height: 10px;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .hm_list > li > .up-down-btn > .down {
  background: url(order/img/down.png) no-repeat;
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .hm_list > li > .up-down-btn:hover {
  background: #ddd;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .hm_list > li > input.time_value {
  width: 28px;
  height: 28px;
  border: 1px solid #ecedf1;
  display: block;
  padding: 0;
  margin: 8px 0px;
  text-align: center;
  position: relative;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .hm_list:after {
  clear: both;
  content: "";
  display: block;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .hm_list:before {
  content: '';
  border: 10px solid #ffffff;
  border-color: transparent transparent #ecedf1 transparent;
  position: absolute;
  top: -20px;
  left: 70px;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .hm_list .triangle-back {
  position: absolute;
  left: 70px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid dashed dashed dashed;
  top: -19px;
  border-color: transparent transparent #ffffff transparent;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li .created-zone {
  padding: 0 6px;
  margin: 0 10px 5px 0;
  border: 0;
  background: #ccc;
  color: #fff;
  float: left;
  height: 22px;
  line-height: 22px;
  border-radius: 2px;
  cursor: pointer;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li .created-zone .close {
  display: inline-block;
  background: url(img/allbgs.png) no-repeat 0px -63px;
  width: 12px;
  height: 12px;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li .created-zone:hover {
  background: #ee894f;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li .select-date {
  padding: 0 6px;
  margin: 0;
  height: 22px;
  float: left;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li .time-setting {
  margin: 0 0 0 5px;
  height: 20px;
  line-height: 20px;
  float: left;
  border: 0;
  padding: 0;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li .time-setting > input.input-time {
  width: 55px;
  height: 20px;
  padding: 0 15px 0 0;
  border: 1px solid #ecedf1;
  margin: 0;
  line-height: 20px;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .input-name {
  width: 70px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #ecedf1;
  float: left;
  padding: 2px;
  margin: 0;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li > .add-icon {
  float: right;
  background: url(order/img/icon-order.png) no-repeat 0px -155px;
  height: 19px;
  width: 19px;
  cursor: pointer;
}
.filter-box-body > li .select-more .custom-date-time .custom-area > li:after {
  clear: both;
  content: "";
  display: block;
}
.filter-box-body > li .select-more .hidden {
  display: none;
}
.filter-box-body > li .select-more:after {
  clear: both;
  content: "";
  display: block;
}
.filter-box-body > li .hidden {
  display: none;
}
.filter-box-body > li .hidden-bt {
  display: none;
}
.filter-box-body .add-options .option-title {
  cursor: pointer;
  width: auto;
}
.filter-box-body .add-options .add-icon {
  background: url(order/img/icon-order.png) no-repeat 0px -155px;
  height: 19px;
  padding-bottom: 3px;
  padding-left: 21px;
  margin-right: 6px;
}
.filter-box-body .more-options {
  height: auto;
}
.filter-box-body .more-options .select-more .more-bt:after {
  content: "收起";
}
.filter-box-body .more-options .select-more .more-icon {
  background: url(order/img/icon-order.png) no-repeat 0px -20px;
}
.filter-box-body .more-options .options {
  height: auto;
  margin-right: 166px;
}
.filter-box-body .more-options .options li {
  width: 120px;
}
.filter-box-body .more-options .options .time-picker {
  width: auto;
}
.filter-box-body .more-options .icon-select {
  display: block;
}
.filter-box-body .more-options .hidden {
  display: block;
}
.filter-box-body .hidden-option {
  display: none;
}
.filter-box-body .options-selected {
  display: none;
}
.solution:before {
  position: absolute;
  left: 86px;
}
.filter-box-footer {
  padding-left: 10px;
  line-height: 25px;
  margin-bottom: 20px;
}
.filter-box-footer .update-time {
  color: #a2a2a2;
  float: left;
}
.filter-box-footer .filter-box-more {
  float: right;
  background: #ecedf1;
  padding: 0 18px;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}
.filter-box-footer .filter-box-more:before {
  content: '';
  border-color: #ecedf1 #ecedf1 transparent transparent;
  display: block;
  border-style: solid;
  border-width: 13px 6.5px;
  position: absolute;
  top: 0;
  left: -12px;
  content: "";
  height: 0;
  width: 0;
}
.filter-box-footer .filter-box-more:after {
  content: "更多";
}
.filter-box-footer .filter-box-more:hover {
  color: #008d84;
}
.filter-box-footer .filter-box-btn {
  background: #ecedf1;
  padding: 0 18px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  float: right;
  margin-left: 20px;
}
.filter-box-footer .filter-box-btn:before {
  content: '';
  border-color: #ecedf1 #ecedf1 transparent transparent;
  display: block;
  border-style: solid;
  border-width: 13px 6.5px;
  position: absolute;
  top: 0;
  left: -12px;
  content: "";
  height: 0;
  width: 0;
}
.filter-box-footer .filter-box-btn:hover {
  color: #008d84;
}
.filter-box-footer > .search {
  background: #53a5dd;
  color: #fff;
}
.filter-box-footer > .search:before {
  content: '';
  border-color: #53a5dd #53a5dd transparent transparent;
  display: block;
  border-style: solid;
  border-width: 13px 8px;
  position: absolute;
  top: 0;
  left: -16px;
  content: "";
  height: 0;
  width: 0;
}
.filter-box-footer > .search:hover {
  color: #fff;
}
.filter-box-footer .filter-box-setting {
  float: right;
  text-align: right;
  position: relative;
}
/*****垂直列表*********/
.add-sorting {
  position: absolute;
  top: 32px;
  z-index: 2;
  left: 25px;
}
.filter-box-options {
  position: absolute;
  left: -519px;
  top: 25px;
  z-index: 2;
  width: 620px;
  border: 1px solid #ecedf1;
}
.filter-box-options > .line {
  border-top: 1px solid #ecedf1;
  padding: 5px;
  overflow: hidden;
  margin: 0;
}
.filter-box-options > .line > .filter-box-title {
  width: 54px;
  float: left;
  text-align: left;
  margin-top: 5px;
}
.filter-box-options > .line:after {
  clear: both;
  content: "";
  display: block;
}
.filter-box-options > .line:first-child {
  border-top: 0;
}
.vertical-ul {
  background: #fff;
}
.vertical-ul > .line {
  display: block;
  list-style: none;
}
.vertical-ul > .right {
  text-align: right;
}
/******垂直列表  end********/
/*****单选框*********/
.add-criteria {
  width: 545px;
}
.add-sorting-options {
  width: 436px;
}
.g_options {
  float: left;
  padding-left: 10px;
}
.g_options > .item {
  font-size: 12px;
  float: left;
  display: inline-block;
  margin: 5px 0;
  height: 27px;
  line-height: 27px;
  /*&:nth-child(6):before{
            content:' '
        }*/
}
.g_options > .item > .option {
  border: 1px solid #ecedf1;
  display: inline-block;
  cursor: pointer;
  width: 83px;
  text-align: center;
  height: 27px;
  line-height: 27px;
}
.g_options > .item:after {
  content: '|';
  margin: 0 10px 0 5px;
}
.g_options > .item:last-child:after {
  content: ' ';
  margin: 0 0px 0 5px;
}
.g_options:after {
  clear: both;
  content: "";
  display: block;
}
.item-selected {
  border-color: #1491ff;
  position: relative;
}
.item-selected:after {
  content: "";
  background: url(order/img/icon-order.png) no-repeat 0px -30px;
  height: 12px;
  padding-left: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -3px;
}
/******单选框 end********/
.hidden-options-show .filter-box-header {
  display: block;
}
.hidden-options-show .hidden-option {
  display: block;
}
.hidden-options-show .options-selected {
  display: none;
}
.hidden-options-show .filter-box-footer .filter-box-more:after {
  content: "收起";
}
.notification {
  margin: 0 0 15px 0;
  padding: 0;
}
.notification .notification-number-1 {
  width: 100%;
}
.notification .notification-number-2 {
  width: 50%;
}
.notification .notification-number-3 {
  width: 33.33333333%;
}
.notification .notification-number-4 {
  width: 25%;
}
.notification .notification-number-5 {
  width: 20%;
}
.notification .notification-number-6 {
  width: 16.66666667%;
}
.notification .notification-number-7 {
  width: 14.28571429%;
}
.notification .notification-number-8 {
  width: 12.5%;
}
.notification .notification-number-9 {
  width: 11.11111111%;
}
.notification .notification-number-10 {
  width: 10%;
}
.notification .notification-number-11 {
  width: 9.09090909%;
}
.notification > .item {
  float: left;
  display: block;
  height: 66px;
  line-height: 66px;
  /*&:first-child{
            border-left:1px solid @split-line-color;
        }*/
}
.notification > .item > .block {
  border: 1px solid #dddfe5;
  border-left: 0;
  background-color: #fff;
  color: #838383;
  cursor: pointer;
}
.notification > .item > .block > .title {
  font-size: 12px;
  padding: 10px 15px;
  display: block;
  text-align: right;
  height: 12px;
  line-height: 12px;
  padding: 6px ;
}
.notification > .item > .block > .amount {
  font-size: 24px;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 60px;
}
.notification > .item > .block:after {
  clear: both;
  content: "";
  display: block;
}
.notification > .item .first {
  border-left: 1px solid #dddfe5;
}
.notification > .item .selected {
  color: #fff;
  background-color: #53a5dd;
}
.notification:after {
  clear: both;
  content: "";
  display: block;
}
.btn-normal {
  cursor: pointer;
  padding: 5px 16px;
  font-size: 12px;
  background: #54add3;
  color: #fff;
  border: none;
  border-radius: 3px;
  vertical-align: middle;
  display: inline-block;
}
.btn-cancel {
  background: #b2c1c9;
}
