blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, arial, "Hiragino Sans Gb", simsun, sans-serif;
}
li,
ol {
  list-style: none;
}
ol,
ul {
  list-style: none;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
  content: "";
  display: block;
}
/*****垂直列表*********/
.add-sorting {
  position: absolute;
  top: 18px;
  z-index: 2;
  left: 29px;
}
.vertical-ul {
  background: #fff;
}
.vertical-ul > .line {
  display: block;
  list-style: none;
  overflow: hidden;
}
.vertical-ul > .right {
  text-align: right;
  margin-top: 8px;
  margin-right: 10px;
}
/******垂直列表  end********/
/*****单选框*********/
.add-sorting-options {
  width: 436px;
}
.g_options {
  float: left;
  padding-left: 10px;
}
.g_options > .item {
  font-size: 12px;
  float: left;
  display: inline-block;
  margin: 5px 0;
  height: 27px;
  line-height: 27px;
  /*&:nth-child(6):before{
            content:' '
        }*/
}
.g_options > .item > .option {
  border: 1px solid #ecedf1;
  display: inline-block;
  cursor: pointer;
  width: 83px;
  text-align: center;
  height: 27px;
  line-height: 27px;
  text-decoration: none;
  color: #838383;
}
.g_options > .item > .option:hover {
  text-decoration: none;
}
.g_options > .item:after {
  content: '|';
  margin: 0 10px 0 5px;
}
.g_options > .item:last-child:after {
  content: ' ';
  margin: 0 0px 0 5px;
}
.g_options:after {
  clear: both;
  content: "";
  display: block;
}
.item-selected {
  border: 1px solid #1491ff!important;
  position: relative;
}
.item-selected:after {
  content: "";
  background: url(order/img/icon-order.png) no-repeat 0px -30px;
  height: 12px;
  padding-left: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -3px;
}
/******单选框 end********/
.add-icon {
  cursor: pointer;
  width: 20px;
  height: 14px;
  display: inline-block;
  background: #b2c1c9;
  border: 0;
  border-radius: 3px;
  position: relative;
}
.add-icon:before {
  border-width: 4px 1px;
  border-style: solid;
  border-color: #fff;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 3px;
  left: 9px;
}
.add-icon:after {
  border-width: 1px 4px;
  border-style: solid;
  border-color: #fff;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 6px;
  left: 6px;
}
.sort-body {
  display: inline-block;
  vertical-align: middle;
}
.sort-body:after {
  clear: both;
  content: "";
  display: block;
}
.sort-body .sort-title {
  display: inline-block;
  width: 42px;
  float: left;
  line-height: 18px;
  color: #838383;
}
.sort-body .sort-items {
  display: inline-block;
  float: left;
  line-height: 18px;
}
.sort-body .sort-items .sort-bt {
  cursor: pointer;
  float: left;
  display: block;
  color: #141414;
  position: relative;
}
.sort-body .sort-items .sort-bt:before {
  content: '|';
  margin: 0 10px;
}
.sort-body .sort-items .sort-bt:first-child:before {
  content: ' ';
  margin: 0;
}
.sort-body .sort-items .sort-bt > .sorting-btn {
  display: inline-block;
  text-decoration: none;
  color: #838383;
}
.sort-body .sort-items .sort-bt > .sorting-btn:hover {
  text-decoration: none;
}
.sort-body .sort-items .sort-bt .add-icon {
  vertical-align: middle;
}
.sort-body .sort-items .sort-bt > span {
  display: block;
}
.sort-body .sort-items .sort-bt .selected {
  color: #1491ff;
  position: relative;
}
.sort-body .sort-items .sort-bt .up:before {
  content: ' ';
  width: 0;
  height: 0;
  border-width: 3px 1px;
  border-style: solid;
  border-color: #1491ff;
  position: absolute;
  right: -7px;
  top: 10px;
}
.sort-body .sort-items .sort-bt .up:after {
  content: ' ';
  width: 0;
  height: 0;
  border-width: 5px 4px;
  border-style: solid;
  border-color: transparent transparent #1491ff transparent;
  position: absolute;
  right: -10px;
  top: 0px;
}
.sort-body .sort-items .sort-bt .down:before {
  content: ' ';
  width: 0;
  height: 0;
  border-width: 3px 1px;
  border-style: solid;
  border-color: #1491ff;
  position: absolute;
  right: -7px;
  top: 5px;
}
.sort-body .sort-items .sort-bt .down:after {
  content: ' ';
  width: 0;
  height: 0;
  border-width: 5px 4px;
  border-style: solid;
  border-color: #1491ff transparent transparent transparent;
  position: absolute;
  right: -10px;
  top: 11px;
}
.sort-body .sort-items:after {
  clear: both;
  content: "";
  display: block;
}
.btn-normal {
  cursor: pointer;
  padding: 5px 16px;
  font-size: 12px;
  background: #54add3;
  color: #fff;
  border: none;
  border-radius: 3px;
  vertical-align: middle;
  display: inline-block;
}
.btn-cancel {
  background: #b2c1c9;
}
