
.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

.table > tbody > tr > td img {
    max-height: 100px;
    max-width: 200px;
}

/*搜索框样式========begin =====*/
.search-box .table > tbody > tr > td {
    border-top: none !important;
    padding: 4px !important;
}

.search-box > table {
    margin-top: 10px !important;
}

.search-box table {
    margin-bottom: 0px !important;
}

.search-box table .iconfont {
    font-size: 14px !important;
}

.search-box .hidden {
    display: none !important;
    visibility: hidden !important;
}

.search-box .show-more .search-more {
    display: none;
}

.search-box .show-more .search-lite {
    display: inline-block;
}

.search-box .search-more {
    display: inline-block;
    text-decoration: none;
    line-height: 34px;
}

.search-box .search-lite {
    display: none;
    text-decoration: none;
    line-height: 34px;
}

.search-box .col-sm-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.search-box .form-control-feedback {
    pointer-events: auto !important;
}

/*搜索框样式========end =======*/