.options {
  margin-top: 10px;
  background: #f1f2f4;
}
.options:after,
.options:before {
  content: "";
  display: table;
  zoom: 1;
  clear: both;
}
.options .btn-box {
  float: left;
}
.options .btn-box .btn {
  border: none;
  font-size: 14px;
  color: #fff;
  background: #4fb0d1;
  padding: 5px 20px;
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.options .btn-box .btn:first-child {
  margin-left: 0;
}
.options .btn-box .btn-multi {
  display: inline-block;
  margin-left: 6px;
}
.options .btn-box .btn-multi .btn {
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.options .btn-box .btn-multi .btn-more {
  height: 0;
  overflow: hidden;
  position: absolute;
  background: #4fb0d1;
  z-index: 20;
  border-radius: 3px;
}
.options .btn-box .btn-multi .btn-more li {
  text-align: center;
  min-width: 78px;
  background-color: transparent;
  font-size: 14px;
}
.options .btn-box .btn-multi .btn-more li:hover {
  background-color: #3ba7cc;
}
.options .btn-box .btn-multi .btn-more a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}
.options .btn-box .btn-multi .bt-dropdown {
  vertical-align: middle;
  display: inline-block;
  height: 31px;
  width: 30px;
  margin-top: -4px;
  margin-left: -5px;
  background: #7bc7e7;
  position: relative;
  cursor: pointer;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.options .btn-box .btn-multi .bt-dropdown .icon-dropdown {
  position: absolute;
  border: solid;
  border-color: #ffffff transparent transparent transparent;
  border-width: 6px;
  top: 13px;
  left: 9px;
}
.options .btn-box .on .btn-more {
  height: auto;
}
.options .search-box {
  float: right;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
}
.options .search-box input {
  height: 20px;
  padding: 5px 0;
  padding-left: 15px;
  width: 150px;
  border: 1px solid #dddfe2;
}
.options .search-box .search-dropdown {
  vertical-align: middle;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-top: -3px;
  margin-left: -5px;
  background: #fff;
  position: relative;
  cursor: pointer;
  border: 1px solid #dddfe2;
}
.options .search-box .search-dropdown .icon-dropdown {
  position: absolute;
  border: solid;
  border-color: #999999 transparent transparent transparent;
  border-width: 10px;
  top: 10px;
  left: 5px;
}
.options .search-box .search-setting {
  border: 1px solid #dddfe2;
  border-top: none;
  background: #fff;
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 10;
  display: none;
}
.navigator-panel {
  margin-top: 10px;
  line-height: 35px;
  background: #f1f2f4;
}
.navigator-panel .nav {
  float: left;
}
.navigator-panel:before,
.navigator-panel:after {
  display: table;
  content: "";
  zoom: 1;
  clear: both;
}
.navigator-panel .pager-box {
  float: right;
  margin-top: 5px;
  line-height: 24px;
}
.data-table table {
  margin-top: 10px;
  width: 100%;
  text-align: left;
}
.data-table th,
.data-table td {
  padding: 6px 12px;
}
.data-table thead tr {
  height: 35px;
  background: #d2d2d2;
}
.data-table tbody tr {
  height: 30px;
}
.data-table tr:nth-child(even) {
  background: #ddd;
}
.data-table a {
  text-decoration: underline;
  color: blue;
}
.table-setting th {
  background: #ddd;
}
.table-setting td,
.table-setting th {
  text-align: center;
  padding: 5px;
  min-width: 50px;
  min-height: 30px;
  height: 30px;
}
.table-setting .operate {
  vertical-align: middle;
}
.table-setting .btn {
  cursor: pointer;
  padding: 5px 10px;
  background: #4fb0d1;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.table-setting .not-selected {
  background: #949494;
}
.fuzzy-query {
  margin-left: 100px;
}
.fuzzy-query input {
  border: 1px solid #ddd;
  height: 30px;
}
.fuzzy-query .btn {
  display: inline-block;
  height: 32px;
  width: 30px;
  background: #4fb0d1;
  vertical-align: top;
  margin-left: -4px;
}
.fuzzy-query .result {
  position: relative;
  top: 0;
  left: 0;
}
.fuzzy-query .result .data {
  position: absolute;
  top: 0;
  left: 0;
}
.fuzzy-query .result .data td {
  border: 1px solid #ddd;
  padding: 6px 12px;
}
