body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1115px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:717px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:717px;
}
#u1 {
  position:absolute;
  left:2px;
  top:350px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:726px;
  width:1115px;
  height:856px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:856px;
}
#u3 {
  position:absolute;
  left:2px;
  top:420px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
